<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio UFO</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="index-body">
  <header>
    <img class="perfil" src="/Images/COLOR.png" alt="Logo del grupo" >
    <div class="barra">
      <h1>Diseño de software embebido</h1>
    </div>
  </header>

  <div class="container">
    <main>
      <section id="experiencias">
        <h2 class="experienciasendesarrrollo">Experiencias en Desarrollo y Mantenimieto</h2>
        <ul>
          <li><a href="experiencia1.html">Software para el control de la calidad de aire con el modulo ESP 8266 </a></li>
          <li><a href="experiencia2.html">Experiencia 2</a></li>
          <li><a href="experiencia3.html">Experiencia 3</a></li>
        </ul>
      </section>
      <section id="cursos">
        <h2 class="cursosss">Cursos</h2>
        <ul>
          <li><a href="curso1.html">Curso 1</a></li>
          <li><a href="curso2.html">Curso 2</a></li>
          <li><a href="curso3.html">Curso 3</a></li>
        </ul>
      </section>
    </main>
  </div>
  <script src="script.js"></script>
</body>

</html>